<h1 id="home-header">Home Page</h1>

<!-- Sidebar Navigation -->

<nav class="sidebar">
  <ol class="nav nav-tabs bs-sidenav" role="tablist">
    <li class="active"><a href="#">Page Navigation</a>
    <ul class="nav">
      <li><a href="#navbar-location">Location</a></li>
      <li><a href="#navbar-interesting-facts">Interesting Facts</a></li>
      <li><a href="#navbar-habitat">Habitat</a></li>
      <li><a href="#navbar-animal-kingdom">Animal Kingdom</a></li>
      <li><a href="#navbar-evolution">Evolution</a></li>
      <li><a href="#navbar-eating-habits">Eating Habits</a></li>
      <li><a href="#navbar-Physiology">Physiology</a></li>

    </ul>
  </ol>
</nav>

<div id="container">

 <!-- CAROUSSEL BEGINS HERE -->

  <div class="col-xs-5 col-xs-offset-2">
    <div id="carousel-example-generic" 
         class="carousel slide" 
         data-ride="carousel">
         
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" 
            data-slide-to="0" 
            class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        
        <div class="item active">
          <img src="http://pangolins.org/wp-content/uploads/2012/02/hitch-hiker-pangolin1.jpg">
          <div class="carousel-caption">
            Caption 1
          </div>
        </div>
        
        <div class="item">
          <img src="http://blogs.scientificamerican.com/extinction-countdown/files/2012/02/pangolin.jpg">
          <div class="carousel-caption">
            Caption 2
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

      
  
  <div class= "paragraphs" data-spy="scroll" data-target="#side-navbar">
    <div id="navbar-habitat">
      <h3>Habitat</h3>
      <p>
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo. His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola. Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo. His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola.Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo.His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola.
      </p>
    </div>

    <div id="navbar-location">
      <h3>Location</h3>
      <p>
        Est rebum nihil persecuti et, vim ne case docendi. Sed an illum insolens, his ei sanctus iudicabit, quo vero munere et. Per no diceret assueverit suscipiantur. In scaevola officiis repudiare mei, dicta altera invenire mel ei, te debitis albucius democritum vim. Ea pri illum homero tincidunt, solum reprehendunt vis te.

        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.

        His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola.
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.

        Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo.

        His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola.
      </p>
    </div>

    <div id="navbar-interesting-facts">
      <h3>Interesting Facts</h3>
      <p>
        Est rebum nihil persecuti et, vim ne case docendi. Sed an illum insolens, his ei sanctus iudicabit, quo vero munere et. Per no diceret assueverit suscipiantur. In scaevola officiis repudiare mei, dicta altera invenire mel ei, te debitis albucius democritum vim. Ea pri illum homero tincidunt, solum reprehendunt vis te.

        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.

        Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu pri, cum <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a> cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo.

        His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola.
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.

        Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo.

        His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola.
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.

        Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo.

      </p>
    </div>
    
    <div id="navbar-animal-kingdom">
      <h3>Animal Kingdom</h3>
      <p>
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo. His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse 
      </p>
    </div>
    <div id="evolution">
      <h3>Evolution</h3>
      <p>
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo. His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola. Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper 
      </p>
    </div>
    <div id="eating-habits">
      <h3>Eating Habits</h3>
      <p>
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo. His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse oblique pro ea. No enim liber vis. Sea et omnium scaevola. Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem 
      </p>
    </div>
    <div id="physiology">
      <h3>Physiology</h3>
      <p>
        Ex movet graeci duo. Prima sapientem ad vim, quo ei diam illud graecis. Error regione menandri ius id. Id altera indoctum ullamcorper vis.Sonet facilisi sed et, eu odio democritum cum, eam ea tantas nonumy. Has ei veri equidem recusabo, tale causae dissentiet ea duo, velit homero aliquid ei est. Vitae verear gloriatur cu <a href="#" class="tooltiplink" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>pri, cum cibo maiorum tibique te, cum te odio consetetur. Ex vel melius euripidis, id eros integre gloriatur quo. His an dicat officiis. Facete mentitum oporteat nec te, eu graeco semper oporteat mei, dicta consequat cu nec. Sale posse 
      </p>
    </div>
  </div>
</div>